<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="Warn"
  internalLogFile="c:\temp\PS.Web.Api\DEV\logs\internal.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="appName" value="PS.Web.Api" />
  <variable name="logDir" value="C:\temp\${appName}\DEV\logs" />

  <targets>
    <default-target-parameters xsi:type="File" archiveFileName="${logDir}/archive/archive-{#}.log" maxArchiveFiles="30" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" />

    <target name="general" xsi:type="AsyncWrapper">
      <target xsi:type="File" fileName="${logDir}/${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${aspnet-user-claims-id} | ${aspnet-item:variable=CorrelationId} | ${logger} | ${callsite} | ${message}" />
    </target>

    <target name="warnings" xsi:type="AsyncWrapper">
      <target xsi:type="File" fileName="${logDir}/${shortdate}-warnings.log" archiveFileName="${logDir}/archive/archive-{#}-warnings.log" layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} | ${exception:format=Message,StackTrace:maxInnerExceptionLevel=3:innerFormat=Message,StackTrace}" />
    </target>

    <target name="errors" xsi:type="AsyncWrapper">
      <target xsi:type="File" fileName="${logDir}/${shortdate}-errors.log" archiveFileName="${logDir}/archive/archive-{#}-errors.log" layout="${longdate} | ${uppercase:${level}} | ${aspnet-user-claims-id} | ${aspnet-user-identity} | ${logger} | ${aspnet-mvc-controller}/${aspnet-mvc-action} | ${aspnet-request-useragent} | ${message} | ${exception:format=Message,StackTrace:maxInnerExceptionLevel=3:innerFormat=Message,StackTrace}" />
    </target>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" levels="Trace,Debug,Info" writeTo="blackhole" final="true" />

    <logger name="*" minLevel="Error" writeTo="errors" />

    <logger name="*" levels="Warn" writeTo="warnings" />

    <logger name="*" levels="Trace,Debug,Info" writeTo="general" final="true" />
  </rules>
</nlog>
